CHIRPSTACK_UI_PORT=8080

CHIRPSTACK_POSTGRES_USER=chirpstack
CHIRPSTACK_POSTGRES_PASSWORD=chirpstack
CHIRPSTACK_POSTGRES_DB=chirpstack

CHIRPSTACK_REDIS_HOST=redis
CHIRPSTACK_REDIS_PORT=6379

CHIRPSTACK_API_SECRET=change-me-with-a-random-secret

EMQX_MQTT_HOST=xxxxx.emqxsl.com
EMQX_MQTT_PORT=8883
EMQX_MQTT_USERNAME=chirpstack_server
EMQX_MQTT_PASSWORD=change-me
EMQX_MQTT_USE_TLS=true

LORAWAN_REGION=au915_0
LORAWAN_TOPIC_PREFIX=au915_0
